<ion-header>
  <ion-toolbar color="dark">
    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label color="gold"  ><h1  class="m-2 p-2">Get started </h1> </ion-label>
  <div class="m-3 p-2"> 
<ion-label color="gold">
  Dont have an Account ?
</ion-label>
<ion-button color="purple" routerLink="/create-account">
Create Account
</ion-button>
</div>
<div class="m-3 p-2"> 
<ion-label color="gold">
 Log in to your Account ?
</ion-label>
<ion-button color="purple" routerLink="/login">
  login
</ion-button>

</div>


</ion-content>
