<ion-content>
<div class=" m-4 p-2 d-flex justify-content-center" > 
    <img src="assets\images\cogearlogo.png" alt="login" height="165px"/>
</div >

<h1  class="m-5  p-2 pb-1 mb-1 d-flex justify-content-center ">Get started </h1> 
<!-- <ion-card class="m-3">
  <ion-card-content> -->
    <div class="m-5 mt-1 mb-0 p-3 pt-1" >
      <ion-button mode="ios" color="sky" expand="block" routerLink="/create-account">
     Create Account
     </ion-button> </div>
     <div class="m-5 mt-0 p-3"> 
     <ion-button  mode="ios"color="sky" expand="block" fill="outline" routerLink="/login">
       login
     </ion-button></div>
  <!-- </ion-card-content>
</ion-card> -->
</ion-content>