<ion-header>
  <ion-toolbar color="dark">
   </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list lines="full">
    <ion-list-header >
      <ion-label class="m-2">

        <ion-text color="light"> Create your Account</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="form">
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked" color="light"> Enter Your name</ion-label>
            <ion-input formControlName="name" type="text" placeholder="Username" color="purple">
              <ion-icon name="person-outline" slot="start" color="medium" color="purple"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" 
            *ngIf="!form.get('name').valid && form.get('name').touched">
            <ion-text *ngIf="form.get('name').hasError('required')">
              * Please enter your Name
            </ion-text>            
          </ion-text>
        </div>
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked" color="light">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Email Address" color="purple">
              <ion-icon name="mail-outline" slot="start" color="medium" color="purple"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" 
            *ngIf="!form.get('email').valid && form.get('email').touched">
            <ion-text *ngIf="form.get('email').hasError('required')">
              * Please enter your Email Address
            </ion-text>
            <ion-text 
              *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')">
              * Please enter proper Email Address
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked" color="light">Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Password" color="purple">
              <ion-icon name="key-outline" slot="start" color="medium " color="purple"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('password').valid && form.get('password').touched">
            <ion-text *ngIf="form.get('password').hasError('required')" >
              * Please enter your Password
            </ion-text>
            <ion-text *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
              * Password must be of atleast 8 characters
            </ion-text>
          </ion-text>
        </div>

        <ion-button 
          size="large" 
          expand="block" 
          shape="round" 
          color="purple"
          (click)="onSubmit()">
          <ion-text color="light">Create Account</ion-text>
        </ion-button>
      </form>
    </ion-item-group>

  </ion-list>

  <div class="m-3 p-3 ion-text-center">
    <ion-label color="light" >
      Already have an account?? login 
    </ion-label>
    <ion-label color="purple" routerLink="/login" >
      here
    </ion-label>
 </div>




</ion-content>