<ion-content> 
<ion-list lines="full">
  <ion-list-header >
    <ion-label class="d-flex justify-content-center">
    Login page
    </ion-label>
  </ion-list-header>
</ion-list>

  <ion-item-group class="ion-margin-horizontal">
    <form [formGroup]="form">
      <div class="ion-margin-vertical">
        <ion-item>
          <ion-label position="stacked" >Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder=" Email Address" >
            <ion-icon name="mail-outline" slot="start" color="medium" ></ion-icon>
          </ion-input>
        </ion-item>
        
        <ion-text class="error" color="danger" 
          *ngIf="!form.get('email').valid && form.get('email').touched">
          <ion-text *ngIf="form.get('email').hasError('required')" >
            * Please enter your Email Address
          </ion-text>
          <ion-text 
            *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')">
            * Please enter proper Email Address
          </ion-text>
        </ion-text>
      </div>
      <div class="ion-margin-vertical">
        <ion-item>
          <ion-label position="stacked" >Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="  Password" >
            <ion-icon name="key-outline" color="medium"  slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="!form.get('password').valid && form.get('password').touched">
          <ion-text *ngIf="form.get('password').hasError('required')">
            * Please enter your Password
          </ion-text>
          <ion-text *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
            * Password must be of atleast 8 characters
          </ion-text>
        </ion-text>
      </div>

      <p class="ion-text-right"><ion-text color="sky" routerLink="/forgot-password">Forgot Password?</ion-text></p>

      <ion-button 
        size="large" 
        expand="block" 
        shape="round" 
        color="sky"
        (click)="onSubmit()">
        <ion-text >Login</ion-text>
      </ion-button>
    </form>
  </ion-item-group>
    <div class="m-2 p-2 ion-text-center  ">
      <ion-label  >
      Don't have an account yet?? 
      </ion-label>
    <br/>
      <ion-label color="sky" routerLink="/create-account" >
      Create Account here !!
      </ion-label>
    </div>
</ion-content>
