<ion-header>
  <ion-toolbar >
    <ion-icon name="arrow-back-outline" slot="start"  color="sky" class="ms-1 ps-1" size="large"  (click)="goback()"></ion-icon>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="d-flex align-items flex-column" style="height: 200px;">
  <div class="mb-auto "> 
    <ion-accordion-group [multiple]="true"  >
      <ion-accordion value="first" >
        <ion-item slot="header">
          <ion-label >Notifications</ion-label>
        </ion-item>
        <div class="ion-padding m-0  p-0 " slot="content">
          <ion-list lines="inset" >
            <ion-item>
              <ion-label >Enable Daily Reminder</ion-label>
              <ion-toggle color="sky" slot="end"  [(ngModel)]="toggle"></ion-toggle>
            </ion-item>
          </ion-list>
          <div class="p-2 m-1 d-flex flex-row-reverse">
            <ion-button (click)="Apply()">Apply Setting</ion-button></div>
        </div>
        
      
      
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" >
          <ion-label >Live Data Setting</ion-label>
        </ion-item>
        <div class="ion-padding m-0 p-0" slot="content">
          <ion-list lines="inset">
            <ion-item *ngFor="let x of (LiveData|async); let i =index">
              <ion-label >{{x.Description}}</ion-label>
              <ion-toggle color="sky" slot="end" checked="{{x.Enabled}}"  [(ngModel)]="select[i]"></ion-toggle>
            </ion-item>
            
            
          </ion-list>
          <div class="p-2 m-1 d-flex flex-row-reverse">
            <ion-button (click)="SaveSetting()">Save</ion-button></div>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" >
          <ion-label  >List of obd2 Supported</ion-label>
        </ion-item>
        <div class="ion-padding m-0 p-0" slot="content">
          <ion-list lines="inset">
            <ion-item *ngFor="let x of SupportedOBD ">
              <ion-label  >{{x.Text}}</ion-label>
              <ion-label *ngIf="x.Value!='Yes'" slot="end">{{x.Value}}</ion-label>
              <ion-label *ngIf="x.Value=='Yes'" color="success" slot="end">{{x.Value}}</ion-label>
            </ion-item>
            
            
          </ion-list>
          
        </div>
      </ion-accordion>
      
    </ion-accordion-group>
    
    <div class="p-2"> <ion-button  color="danger" expand="block" (click)="onDelete()">Delete account</ion-button></div>
  </div>
 </div>
</ion-content>
