<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-start">
           Hello User,
    </ion-title>  
    <ion-icon name="person-circle-outline" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>CAR Name </ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <img src="assets\images\car.png" alt="..." >
         
          <ion-item>
          <ion-icon name="bluetooth-outline"  slot="end"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
 
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
           <ion-icon name="add-outline"></ion-icon>
         Add CAR
         </ion-card-content>
      </ion-card>
 
    </ion-slide>
    
  </ion-slides>
  <ion-button expand="block" (click)="Pair()">Pair Car</ion-button>

</ion-content>
