<ion-header [translucent]="true">
  <div *ngFor="let x of (User | async ) ">
  <ion-toolbar   class="me-1 pe-1" *ngIf="UserID==x?.userID;" > 
    <ion-title class="m-2 d-flex justify-content-start ion-text-start" >Hello {{x.Name}}, </ion-title>   
    <ion-avatar slot="end"  style="height: 36px; width: 36px;" (click)="OpenProfle(UserID)" >
      <img *ngIf="x?.img; else placeholder;" src={{x.img}}  />
      <ng-template #placeholder>
       <img src="assets/images/default.png"  />
      </ng-template> 
    </ion-avatar>  
    <ion-progress-bar type="indeterminate" *ngIf="checking"></ion-progress-bar>
  </ion-toolbar>
</div>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-slides pager="true"  [options]="slideOpts"   (ionSlideDidChange)="slideChange()"  >
    
      <ion-slide *ngFor="let x of (Cars|async) " >
       
      <ion-card class="colour" class=" m-4 p-2 " style="height: 220px!important; width: 340px!important;" (click)="OpenCarInfo(x.numPlate)">
        <ion-card-header class="p-2">
          <ion-card-title color="{{x.blue}}">{{x.make}} {{x.model}}          
          </ion-card-title>
          <!-- <ion-icon name="bluetooth-outline" slot="icon-only" color="{{x.blue}}" slot="end"></ion-icon> -->
        </ion-card-header>
        <ion-card-content class="ps-0 pe-0 pb-0">
          <img *ngIf="x?.carimg; else placeholder;" src={{x.carimg}} class=" d-inline-block mt-1 pt-1 align-self-stretch"  style="max-height: 103px!important; "/>
       <ng-template #placeholder>
        <img src="assets\images\car.png" alt="..." class="d-inline-block mt-1 pt-1 align-self-stretch" />
       </ng-template>
          
          <ion-item lines="none">
            <ion-icon name="bluetooth-outline" class="m-0 p-0  " slot="icon-only" color="{{x.blue}}" slot="end"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
    
    </ion-slide>
 
    <ion-slide (click)="gonewCarInfo()">
      <ion-card style="height: 220px!important; width: 340px!important;" class=" m-4 p-3">
        <ion-card-content class="d-flex flex-row justify-content-center align-items-center my-4 py-5">
           <ion-icon class="mt-1 me-2"  name="add-outline" ></ion-icon>  <h2   >Add Car</h2>
        
         </ion-card-content>
      </ion-card>
 
    </ion-slide>
  </ion-slides>
  
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button id="open-modal" color="sky" text-capitalize=“false” class="p-2 m-2" *ngIf="BluetoothFlag"
      style="text-transform: none!important;
              text-transform: unset;"
       (click)="Pair()">Pair Car</ion-button>
      <ion-modal #mobe trigger="open-modal" color="sky" [initialBreakpoint]="0.4" [breakpoints]="[0, 0.4, 0.5, 0.75]">
        <ng-template>
          <ion-header [translucent]="true">
            <ion-toolbar >
              <ion-button slot="start" color="sky" (click)="cancel()">Close</ion-button>
              <ion-title class="ion-text-start">Select Device</ion-title>  
              <ion-button color="sky" slot='end' (click)="Pair()">Refresh</ion-button>
          </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item *ngFor="let device of Devices" (click)="connect(device)">
                <ion-label >
                  <h2>{{device.name || device.address}}</h2>
                  <p>Paired</p>
                </ion-label>
              </ion-item>
              
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-button  color="sky" class="p-2 m-2" *ngIf="!BluetoothFlag" 
      style="height:65px;
              width:150px;
              text-transform: none!important;
              text-transform: unset;" 
      (click)="diconnect()">Unpair Car</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
