<ion-header  class="ion-no-border">
  <ion-toolbar >
    <ion-icon  color="sky" name="arrow-back-outline"  size="large" slot="start" class="ms-1 ps-1"  (click)="goback()"></ion-icon>
    <ion-label  class="m-2 d-flex justify-content-center" >Add Car Details</ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-item-group class="ion-margin-horizontal">
    <form [formGroup]="carform">
      <div class="ion-margin-vertical">
        
        <ion-item>
          <ion-label >Car Make: </ion-label>
          <ion-input formControlName="make"  type="text" color="medium" ></ion-input>
          <ion-icon name="car-outline" slot="end" color="medium" ></ion-icon>
        </ion-item>
        <ion-text class="error" color="danger" 
            *ngIf="!carform.get('make').valid && carform.get('make').touched">
            <ion-text *ngIf="carform.get('make').hasError('required')">
              * Please enter the make of the vehicle.
            </ion-text>            
          </ion-text>
      </div>
      <div class="ion-margin-vertical">
        <ion-item>
          <ion-label >Car Model: </ion-label>
          <ion-input formControlName="model"  type="text"  color="medium"></ion-input>
          <ion-icon name="car-outline" slot="end" color="medium" ></ion-icon>
        </ion-item>
        <ion-text class="error" color="danger" 
            *ngIf="!carform.get('model').valid && carform.get('model').touched">
            <ion-text *ngIf="carform.get('model').hasError('required')">
              * Please enter the model of the vehicle.
            </ion-text>            
          </ion-text>
      </div>
      <div class="ion-margin-vertical">
        <ion-item>
          <ion-label >Car Year: </ion-label>
          <ion-input  [ngModelOptions]="{standalone: true}" type="number" color="medium" [(ngModel)]="newCar.year"></ion-input>
          <ion-icon name="car-outline" slot="end" color="medium"></ion-icon> 
          </ion-item>
          
        </div>
        <div class="ion-margin-vertical">
        <ion-item>
          <ion-label >Plate Number: </ion-label>
          <ion-input  formControlName="numPlate"  type="number" color="medium" ></ion-input>
          <ion-icon name="car-outline" slot="end" color="medium" ></ion-icon>
        </ion-item>
        <ion-text class="error" color="danger" 
            *ngIf="!carform.get('numPlate').valid && carform.get('numPlate').touched">
            <ion-text *ngIf="carform.get('numPlate').hasError('required')">
              * Please enter the number plate.
            </ion-text>            
          </ion-text>
        </div>
        <div class="ion-margin-vertical">
        <ion-list>
          <ion-item>
            <ion-select interface="popover"  [ngModelOptions]="{standalone: true}" [(ngModel)]="newCar.carimg"  placeholder="Select Image" style="max-width:100%" class="w-100 d-flex justify-content-start">
              <ion-select-option value="assets\images\car.png"   >
                Sedan
              </ion-select-option>
              <ion-select-option value="assets\images\suv.png">Suv</ion-select-option>
              <ion-select-option value="assets\images\coupe.png">Coupe</ion-select-option>
              <ion-select-option value="assets\images\hatchback.png">Hatchback</ion-select-option>
              <ion-select-option value="assets\images\crossover.png">Crossover</ion-select-option>
              <ion-select-option value="assets\images\minivan.png">Minivan</ion-select-option>
              <ion-select-option value="assets\images\convertible.png">Convertible</ion-select-option>
              <ion-select-option value="assets\images\pickup.png">Pick Up</ion-select-option>
              <ion-select-option value="assets\images\truck.png">Truck </ion-select-option>
              <ion-select-option value="assets\images\van.png">Van</ion-select-option>
            </ion-select>
            <div *ngIf="newCar.carimg==''" class="d-flex justify-content-end"> 
              <ion-icon name="image-outline" slot="end" color="medium" ></ion-icon>
            </div>
            <div *ngIf="newCar.carimg!=''" > 
            <img src={{newCar.carimg}}  class="w-25 d-flex justify-content-end" />
            </div>
          </ion-item>
        </ion-list>
      </div>
  <ion-accordion-group [multiple]="true"  >
      <ion-accordion value="first">
        <ion-item slot="header" ><ion-label >Ownership Details: </ion-label></ion-item>
      <div class="ion-padding m-0 p-0" slot="content">
        <ion-list lines="inset">
          <ion-item>
            <ion-label >Owner ID: </ion-label>
            <ion-input  formControlName="ownerID"  type="number" color="medium" ></ion-input>
            <ion-icon name="person" slot="end" color="medium" ></ion-icon>
          </ion-item>
          <ion-text class="error" color="danger" 
          *ngIf="!carform.get('ownerID').valid && carform.get('ownerID').touched">
          <ion-text *ngIf="carform.get('ownerID').hasError('required')">
            * Please enter the ownerID plate.
          </ion-text>            
        </ion-text>

          <ion-item>
            <ion-label  color="gold">Yearly Inspection: </ion-label>
            <ion-datetime-button slot="end" datetime="date1"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="date1" min="{{minDate}}"  [ngModelOptions]="{standalone: true}" max="2099-10-31" [(ngModel)]="YearDte"  format="YYYY-MM-DD" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-icon name="calendar-outline" slot="end" color="medium" ></ion-icon>     
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label >Insurance Details: </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" > 
        <ion-list lines="inset">
          <ion-item>
            <ion-label >Company: </ion-label>
            <ion-input  [ngModelOptions]="{standalone: true}" type="text" color="medium" [(ngModel)]="newCar.InsComp"></ion-input>
            <ion-icon name="briefcase" slot="end" color="medium"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label >Policy No: </ion-label>
            <ion-input   [ngModelOptions]="{standalone: true}" type="number" color="medium" [(ngModel)]="newCar.InsPolicy"></ion-input>
            <ion-icon name="barcode" slot="end"  color="medium"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label >Cover Type: </ion-label>
            <ion-input  [ngModelOptions]="{standalone: true}" type="text" color="medium" [(ngModel)]="newCar.InsType"></ion-input>
            <ion-icon name="construct" slot="end" color="medium" ></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label  color="gold">Expiry Date: </ion-label>
            <ion-datetime-button slot="end" datetime="date2"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime  [ngModelOptions]="{standalone: true}" id="date2" min="{{minDate}}" max="2099-10-31" [(ngModel)]="InsDte"  format="YYYY-MM-DD" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-icon name="calendar-outline" slot="end" color="medium" color="purple"></ion-icon>  
            </ion-item>
        </ion-list>
        </div>
    </ion-accordion>
  </ion-accordion-group>

     <br>
      <ion-button size="large" expand="block" shape="round" color="sky" (click)="submit()">
        <ion-text >Submit</ion-text>
      </ion-button>
    </form>
  </ion-item-group>

 

</ion-content>
