<ion-header  class="ion-no-border">
  <ion-toolbar >
    <ion-icon  color="sky" name="arrow-back-outline"  size="large" slot="start" class="ms-1 ps-1"  (click)="goback()"></ion-icon>
    <ion-label  class="m-2 d-flex justify-content-center" >Add Car Details</ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-item-group class="ion-margin-horizontal">
      <div class="ion-margin-vertical">
        <ion-item>
          <ion-label >Car Make: </ion-label>
          <ion-input  type="text" color="medium" [(ngModel)]="newCar.make"></ion-input>
          <ion-icon name="car-outline" slot="end" color="medium" ></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label >Car Model: </ion-label>
          <ion-input type="text"  color="medium" [(ngModel)]="newCar.model"></ion-input>
          <ion-icon name="car-outline" slot="end" color="medium" ></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label >Car Year: </ion-label>
          <ion-input type="number" color="medium" [(ngModel)]="newCar.year"></ion-input>
          <ion-icon name="calendar-outline" slot="end" color="medium"></ion-icon>        </ion-item>

        <ion-item>
          <ion-label >Plate Number: </ion-label>
          <ion-input type="number" color="medium" [(ngModel)]="newCar.numPlate"></ion-input>
          <ion-icon name="barcode-outline" slot="end" color="medium" ></ion-icon>
        </ion-item>
        <!--to be removed   -->
        <ion-item>
          <ion-label >Car Image: </ion-label>
          <ion-input type="text" color="medium" [(ngModel)]="newCar.carimg"></ion-input>
          <ion-icon name="image-outline" slot="end" color="medium" ></ion-icon>        
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-select interface="popover" [(ngModel)]="newCar.carimg" placeholder="Select Image">
              <ion-select-option value="assets\images\car.png">Sedan</ion-select-option>
              <ion-select-option value="assets\images\suv.png">Suv</ion-select-option>
              <ion-select-option value="assets\images\coupe.png">Coupe</ion-select-option>
              <ion-select-option value="assets\images\hatchback.png">Hatchback</ion-select-option>
              <ion-select-option value="assets\images\crossover.png">Crossover</ion-select-option>
              <ion-select-option value="assets\images\minivan.png">Minivan</ion-select-option>
              <ion-select-option value="assets\images\convertible.png">Convertible</ion-select-option>
              <ion-select-option value="assets\images\pickup.png">Pick Up</ion-select-option>
              <ion-select-option value="assets\images\truck.png">Truck </ion-select-option>
              <ion-select-option value="assets\images\van.png">Van</ion-select-option>
            </ion-select>
            <ion-icon name="image-outline" slot="end" color="medium" ></ion-icon>
          </ion-item>
        </ion-list>



      </div>
  <ion-accordion-group [multiple]="true"  >
      <ion-accordion value="first">
        <ion-item slot="header" ><ion-label >Ownership Details: </ion-label></ion-item>
      <div class="ion-padding m-0 p-0" slot="content">
        <ion-list lines="inset">
          <ion-item>
            <ion-label >Owner ID: </ion-label>
            <ion-input  type="number" color="medium" [(ngModel)]="newCar.ownerID"></ion-input>
            <ion-icon name="person" slot="end" color="medium" ></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label  color="gold">Yearly Inspection: </ion-label>
            <ion-datetime-button slot="end" datetime="date1"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="date1" min="{{minDate}}" max="2099-10-31" [(ngModel)]="YearDte"  format="YYYY-MM-DD" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-icon name="calendar-outline" slot="end" color="medium" ></ion-icon>     
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label >Insurance Details: </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" > 
        <ion-list lines="inset">
          <ion-item>
            <ion-label >Company: </ion-label>
            <ion-input  type="text" color="medium" [(ngModel)]="newCar.InsComp"></ion-input>
            <ion-icon name="briefcase" slot="end" color="medium"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label >Policy No: </ion-label>
            <ion-input  type="number" color="medium" [(ngModel)]="newCar.InsPolicy"></ion-input>
            <ion-icon name="barcode" slot="end"  color="medium"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label >Cover Type: </ion-label>
            <ion-input  type="text" color="medium" [(ngModel)]="newCar.InsType"></ion-input>
            <ion-icon name="construct" slot="end" color="medium" ></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label  color="gold">Expiry Date: </ion-label>
            <ion-datetime-button slot="end" datetime="date2"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="date2" min="{{minDate}}" max="2099-10-31" [(ngModel)]="InsDte"  format="YYYY-MM-DD" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-icon name="calendar-outline" slot="end" color="medium" color="purple"></ion-icon>  
            </ion-item>
        </ion-list>
        </div>
    </ion-accordion>
  </ion-accordion-group>

     <br>
      <ion-button size="large" expand="block" shape="round" color="sky" (click)="submit()">
        <ion-text >Submit</ion-text>
      </ion-button>

  </ion-item-group>

 

</ion-content>
