<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="ion-text-start"> {{CarName}} </ion-title>
    <ion-icon name="settings-outline" color="sky" class="me-2 pe-2" size="large" slot="end" routerLink="/setting" routerDirection="forward"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-segment  swipe-gesture="true" value="Sensor" (ionChange)="segmentChanged($event)" class="mt-4  " >
    <ion-segment-button value="Sensor"   mode="ios"
    style="text-transform: none!important;
    text-transform: unset;"
     class="ms-3">
       <ion-label  > Sensors</ion-label>
    </ion-segment-button>
    <ion-segment-button value="livedata" mode="ios"
    style="text-transform: none!important;
    text-transform: unset;"
    class="me-3">
      <ion-label >Live data</ion-label>
    </ion-segment-button>
  </ion-segment>
<!-- sensor part -->
  <div *ngIf="selectedSegment=='Sensor'">
    <ion-card class="m-4 p-4  pb-0 mb-0" mode="ios">
      <div  class="d-flex justify-content-center mt-1 ">
        <img src="assets\images\light.png" alt="..." class="w-50 d-inline-block"  >  
      </div>
      <ion-card-content >
        <ion-button color="sky" expand="block" (click)="Scan()" mode="ios"
        style="
              text-transform: none!important;
              text-transform: unset;"
         class=" pb-0  mb-0">Tap to scan</ion-button>
      </ion-card-content>
      
    </ion-card>
<!-- list scan results -->
<div>
  <ion-item lines="none" *ngIf="len==0">
    <ion-label class="d-flex  justify-content-center" color="success">
      No Errors Found! 
    </ion-label>
  </ion-item>
    
  
    <ion-label *ngIf="len>0" class="d-flex  justify-content-center mt-2 pt-3">
    <ion-button color="danger" fill="outline"  mode="ios" style="
    text-transform: none!important;
    text-transform: unset;"
     (click)="ClearCodes()"> Clear Codes</ion-button>
    </ion-label>

    <div *ngFor="let x of (TroubleCodes|async)"  class="ms-2 ps-2 me-2 pe-2">
      <ion-card  mode="ios" *ngFor="let y of x.codes"   class="d-flex justify-content-start mt-3">
        <ion-card-content> 
          <h2 class="pb-1" style="color:  red;">Code: {{y.code}}</h2> <br>
                                                    Description: {{y.desc}}<br> </ion-card-content>
      
      </ion-card>
    </div>

    


</div>


  </div>
<!-- live data part -->
  <div *ngIf="selectedSegment=='livedata'">
    <br>
    <ion-button color="sky" expand="block" (click)="FetchLiveData()" mode="ios"
    style="text-transform: none!important;
              text-transform: unset;"
     class=" p-2 m-2 mt-0 pt-1 pb-0  mb-0">Fetch Live Data</ion-button>  
    
    
    <ion-grid >
      <ion-row>
         <ion-col  size="auto"  *ngFor="let data of (LiveData | async)" class=" d-flex align-self-stretch w-50">
            <ion-card  mode="ios" mode="ios" class="d-flex align-self-stretch w-100">
               <ion-card-content>
                <ion-icon size="large" color="sky"  name="cog-outline"></ion-icon>
                <ion-card-subtitle>
                  {{data.Description}}
                </ion-card-subtitle>
              <ion-label>{{data.Value}} </ion-label>
            
          </ion-card-content>
          </ion-card>
        </ion-col>        
    </ion-row>
    </ion-grid>
      
  </div>
</ion-content>
