<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="ion-text-start"> {{CarName}} </ion-title>
    <ion-icon name="settings-outline" color="sky" class="me-2 pe-2" size="large" slot="end" routerLink="/setting" routerDirection="forward"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-segment  swipe-gesture="true" value="Sensor" (ionChange)="segmentChanged($event)" class="mt-4 ms-2 me-2 " >
    <ion-segment-button value="Sensor"   mode="ios"
    style="text-transform: none!important;
    text-transform: unset;"
     class="ms-3">
       <ion-label  > Sensors</ion-label>
    </ion-segment-button>
    <ion-segment-button value="livedata" mode="ios"
    style="text-transform: none!important;
    text-transform: unset;"
    class="me-3">
      <ion-label >Live data</ion-label>
    </ion-segment-button>
  </ion-segment>
<!-- sensor part -->
  <div *ngIf="selectedSegment=='Sensor'">
    <ion-card class="m-4 p-4  pb-0 mb-0" mode="ios">
      <div  class="d-flex justify-content-center mt-1 ">
        <img src="assets\icon\checkEngne.gif" alt="..." class="w-50 d-inline-block"  >  
      </div>
      <ion-card-content >
        <ion-button color="sky" expand="block" (click)="Scan()" mode="ios"
        style="
              text-transform: none!important;
              text-transform: unset;"
         class=" pb-0  mb-0">Tap to scan</ion-button>
      </ion-card-content>
      
    </ion-card>
<!-- list scan results -->
<div class="mt-3 pt-1">
  <ion-item lines="none" *ngIf="len==0 && DataSrv.checkedalready==true ">
    <ion-label class="d-flex  justify-content-center" color="success">
      No Errors Found! 
    </ion-label>
  </ion-item>
    
<!-- -->
  <div  *ngIf="len>0" class="ms-4 ps-3 pe-3  me-4 mt-2 pt-3 ">
  <ion-button color="danger"expand="block" fill="outline"  mode="ios" style="
    text-transform: none!important;
    text-transform: unset;"
     (click)="ClearCodes()">
     Clear Codes</ion-button>
      </div>
    
    <div  *ngFor="let x of (TroubleCodes|async)" class="ms-2 ps-2 me-2 pe-2"> 
      <ion-card *ngFor="let y of x.codes"  mode="ios">
        <ion-card-content class="ms-1 me-1"> 
         <ion-label class="ion-item-start" style="color:red;font-size: 17px;">
            Code:
            {{y.code}}
            <br/>
          </ion-label>
          <ion-label>
           Description: 
            {{y.desc}}  
          </ion-label>
          </ion-card-content>
      </ion-card>
    </div>
    </div>
  </div>
<!-- live data part -->
  <div *ngIf="selectedSegment=='livedata'" class="ms-3 me-3 mb-2 pb-2"> 
    <!-- the first time look button  -->
    <div class="m-2  p-1 mt-5 pt-5" *ngIf="!DataSrv.live_data_fetched_already" >
      <div class="d-flex justify-content-center mb-1 pb-1 ">
        <img src="assets/icon/livedata.gif"  class="" style="height:130px" />
      </div>
    <ion-button color="sky" expand="block" 
    (click)="FetchLiveData()" mode="ios"
        style="text-transform: none!important;
                  text-transform: unset;"
        class=" p-2 m-2 mt-0 pt-1 pb-0  mb-0">
        Fetch Live Data
      </ion-button> 
    </div>
    <!-- the button at top position -->
    <div class="m-2 p-1" *ngIf="DataSrv.live_data_fetched_already" >
      <ion-button color="sky" expand="block" 
      (click)="FetchLiveData()" mode="ios"
          style="text-transform: none!important;
                    text-transform: unset;"
          class=" p-2 m-2 mt-0 pt-1 pb-0  mb-0">
          Fetch Live Data
        </ion-button> 
      </div> 
    <!--displaying live data  -->
    <ion-grid *ngIf="DataSrv.live_data_fetched_already">
      <ion-row>
         <ion-col size="auto" *ngFor="let data of (LiveData | async)" class=" d-flex align-self-stretch w-50">
            <ion-card  mode="ios" class="m-1 p-1 w-100" style="height:130px">
               <ion-card-content class="mt-0 p-1 pt-2">
                <div class="d-flex justify-content-center pt-1 ">
                  <img src="{{data.img}}"  class="" style="height:40px" />
                </div>
                <ion-label style="font-size:14px" class="mt-1 pt-1 d-flex justify-content-center">
                  {{data.Description}}
                </ion-label>
                <ion-item lines="none">
                  <ion-label class="d-flex justify-content-center" style="font-size:14px" >{{data.Value}} </ion-label>          
                </ion-item>    
             </ion-card-content>
          </ion-card>
        </ion-col>        
    </ion-row>
    </ion-grid>     
  </div>
</ion-content>