<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="ion-text-start" > Notification </ion-title>
    <ion-icon name="settings-outline" color="sky"  class="me-1 pe-1" size="large" slot="end" routerLink="/setting" routerDirection="forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list *ngFor="let x of Sceduled">
    <ion-item  *ngIf="x!==null" class="d-flex align-content-start flex-wrap">
     <ion-label> <b>{{x.title}}</b> <br/>{{x.text}} </ion-label>
     
    </ion-item>  
    <ion-item *ngIf="Sceduled.length==0" >
      <ion-label class="d-flex  justify-content-center">
        No Notification to be displayed!
      </ion-label>
    </ion-item> 
  </ion-list>
  <div class="m-2 p-2 " *ngIf="Sceduled.length>0">
    <!-- <ion-button (click)="getAll()" fill="outline">display history</ion-button> -->
    <ion-button color="danger" fill="outline"
    style="text-transform: none!important;
              text-transform: unset;"
   expand="block" (click)="del()">Delete </ion-button>
 </div>
</ion-content>
