<ion-header>
  <ion-toolbar>
    <ion-title>Car Information</ion-title>
    <ion-icon  color="sky" name="arrow-back-outline"  size="large" slot="start" class="ms-1 ps-1"  (click)="goback()"></ion-icon>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngFor="let x of (CAR | async )"> 
    <div *ngIf="uid==x.numPlate"> 
      <!-- -->

 
  <ion-card >
    <ion-card-header>
       <ion-card-title >  {{x.make}} {{x.model}} {{x.year}}</ion-card-title>
      <div class="d-flex justify-content-center mt-2 pt-2 " (click)="changeImage(x.numPlate)"> 
        
          <img *ngIf="x?.carimg; else placeholder;" src={{x.carimg}}  class="w-75 "/>
          <ng-template #placeholder>
           <img src="assets/images/car.png"  class="w-75 "/>
          </ng-template>
       
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list >
        <ion-item lines="none" >
        <ion-label color="medium">Plate Number: </ion-label>  
        <ion-label >{{x.numPlate}} </ion-label>
        </ion-item>
     </ion-list>  
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h3 > Insurance Details</h3>
       </ion-card-header>
  
    <ion-card-content>
      <ion-list>
          <ion-item lines="none" >
          <ion-label color="medium">Company: </ion-label>  
          <ion-label >:{{x.InsComp}} </ion-label>
        </ion-item>
        <ion-item lines="none" >
          <ion-label color="medium">Policy No: </ion-label>  
          <ion-label >:{{x.InsPolicy}} </ion-label>
        </ion-item>
        <ion-item lines="none" >
          <ion-label color="medium">Cover Type: </ion-label>  
          <ion-label >:{{x.InsType}} </ion-label>
        </ion-item>
        <ion-item lines="none" >
          <ion-label color="medium">Expiry Date: </ion-label>  
          <ion-label >:{{x.InsExp}} </ion-label>
        </ion-item>
      </ion-list>
   </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h3 >Ownership Details</h3>
      </ion-card-header>
  
    <ion-card-content>
      <ion-list>
      <ion-item lines="none" >
        <ion-label color="medium">Owner ID: </ion-label>  
        <ion-label >:{{x.ownerID}} </ion-label>
      
      </ion-item>
      <ion-item lines="none" >
        <ion-label color="medium">Yearly Inspection: </ion-label>  
        <ion-label >:{{x.ExpDte}} </ion-label>
      
      </ion-item>
   </ion-list> 
     
    </ion-card-content>
  </ion-card>
    <ion-card>
      <ion-card-header>
        <h3 >Add Documents</h3>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label >Title: </ion-label>
            <ion-input [(ngModel)]="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Expiry Date: </ion-label>
            <ion-input value="{{ InsDte | date: 'dd-MMM-YYYY' }}" id="InsExpDte" color="medium"></ion-input>
            <ion-modal trigger="InsExpDte" id="InsExpDteModal" [initialBreakpoint]="0.35" [breakpoints]="[0.25,0.35]">
              <ng-template>
                <ion-datetime id="InsExpDteInput" presentation="date" showDefaultButtons="true"  [preferWheel]="true" [(ngModel)]="InsDte" (ngModelChange)="InsDte" min="{{minDate}}" max="2099-10-31"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-icon name="calendar-outline" slot="end" color="medium" color="purple"></ion-icon>     
          </ion-item>
        </ion-card-content>
        <ion-button color="sky" (click)="uploadpic()"><ion-icon name="image-outline"></ion-icon></ion-button>
    </ion-card>
  </div>
</div>
</ion-content>
