<ion-header  class="ion-no-border">
  <ion-toolbar color="dark" >
    <ion-icon  color="purple" name="arrow-back-outline"  size="large" slot="start" class="ms-1 ps-1"  routerLink="/"></ion-icon>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center m-2 p-2">
    <ion-avatar style="height: 150px; width:150px;">
   <img alt="assets\images\defaultuser.png" src="assets\images\user.jpg"  />
 </ion-avatar>
 </div>

     
  <div class="d-flex justify-content-center"  *ngFor="let y of (person | async )">
 
  <ion-label color="light">
 {{y.Name}} 
  </ion-label>
 </div>
  <ion-list >
    <ion-item lines="none">
      <ion-label color="medium" >Login Id</ion-label> <ion-label slot="end" color="light">username</ion-label>
    </ion-item >
    
    <ion-item lines="none">
      <ion-label color="medium"> Phone Number</ion-label> <ion-label slot="end" color="light">11224455</ion-label>
    </ion-item >
    <ion-item lines="full">
      <ion-label color="medium">Password</ion-label> <ion-label slot="end" color="light">****** </ion-label>
    </ion-item>
    
  </ion-list>
  
 
    <ion-button  color="purple">
      Edit
    </ion-button>
 

  <h3 class="mb-0 pb-1 m-2  p-2 ">
    Your Cars
  </h3>
  <ion-list >
   
    <div *ngIf="cars"> 
    <ion-card *ngFor="let car of cars,let i= index" class="d-flex justify-content-between mt-0 "  style="border-radius:15px !important;">
      <ion-card-header  class="d-flex align-items-center">
      
      <h6>
        {{car.name}}
      </h6>
      </ion-card-header>
      <ion-card-content class="pt-2 pb-2 d-flex justify-content-end">
        <img src={{car.image}} class="w-75 ">
      </ion-card-content>
    </ion-card>
    </div>
    <ion-card style="border-radius:15px !important;">
      
      <ion-card-content class="d-flex flex-row justify-content-center p-4" >
        <ion-icon name="add-outline"  size="large"></ion-icon> <h6 class="d-flex align-items-center">Add Car</h6>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div class="p-2"> <ion-button fill="outline" color="danger" expand="block">Log Out</ion-button></div>
  <div class="p-2"><ion-button  color="danger" expand="block">Delete Account</ion-button></div>

</ion-content>
