<ion-header  class="ion-no-border">
  <ion-toolbar >
    <ion-icon  color="sky" name="arrow-back-outline"  size="large" slot="start" class="ms-1 ps-1" (click)="goback()" ></ion-icon>
    
  
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let y of (User | async ) ">  
    <div *ngIf="uid==y.userID"> 
      <div class="d-flex justify-content-center m-2 p-2">
        <ion-avatar style="height: 150px; width:150px;" (click)="changeImage()">
       <img *ngIf="y?.img; else placeholder;" src={{y.img}}  />
       <ng-template #placeholder>
        <img src="assets/images/default.png"  />
       </ng-template>
    
     </ion-avatar>
     </div>

<div class="d-flex justify-content-center">
  <ion-label >
    {{y.Name}}
  </ion-label>
</div>
  <ion-list  >
    <ion-item lines="none" >
      <ion-label color="medium" >Login ID</ion-label> <ion-label slot="end"> {{y.userID}}</ion-label>
    </ion-item >
    
    <ion-item lines="none">
      <ion-label color="medium"> Phone Number</ion-label> <ion-label slot="end" > {{y.phoneNum}}</ion-label>
    </ion-item >
    <ion-item lines="full">
      <ion-label color="medium">Password</ion-label> <ion-label  *ngIf="s" id="hiddenpass" slot="end">********</ion-label>
      <ion-label *ngIf="!s"  id="pass" slot="end" >{{y.password}} </ion-label>
      <ion-icon *ngIf="s"  name="eye-outline" id="eyeOn"  color="sky"  (click)="showpassword()"></ion-icon>
      <ion-icon *ngIf="!s"  name="eye-off-outline" id="eyeOff"  color="sky"  (click)="showpassword()"></ion-icon>
       </ion-item>
 
  </ion-list>


</div><!-- the end of firebase searching -->
</div> <!-- the end of firebase loop for users -->
    <h3 class="mb-0 pb-1 m-2  p-2 " >
    Your Cars
   </h3>
   <ion-list >
    <div   *ngFor="let x of (CAR | async )">
    <ion-card  class=" mt-1 mb-2 pb-1 "  style="border-radius:15px !important;" *ngIf="uid==x.userId" (click)="OpenCarInfo(x.numPlate)" >
       
       <ion-card-content class="pt-2 pb-2 m-1 d-flex justify-content-between">
        <ion-label  class="d-flex justify-content-start " >
          {{x.make}}
        </ion-label>
         <div class="d-flex justify-content-end "> 
        <img src="assets\images\car.png" class="w-50 ">
        </div> 
      </ion-card-content>
    
    </ion-card >
  </div>
    <ion-card class="mt-2 pt-1" style="border-radius:15px !important;"(click)="goNewCar()">
        <ion-card-content class="d-flex flex-row justify-content-center p-4" >
        <ion-icon name="add-outline"  size="large" color="sky"></ion-icon> <h6  class="d-flex align-items-center">Add Car</h6>
      </ion-card-content>
    </ion-card>
  </ion-list>

  
  <div class="p-2"> <ion-button fill="outline" color="danger" expand="block" (click)="onLogOut()">Log Out</ion-button></div>
  
</ion-content>
