<ion-header>
  <ion-toolbar >
    <ion-title color="sky">
       Forgot Password
    </ion-title>
    <ion-icon  color="sky" name="arrow-back-outline"  size="large" slot="start" class="ms-1 ps-1"  routerLink="/login"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>  
    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="form">
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Enter your Email </ion-label>
            <ion-input formControlName="email" color="medium" type="email" placeholder=" Email Address">
              <ion-icon name="mail" slot="start" color="medium" ></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" 
            *ngIf="!form.get('email').valid && form.get('email').touched">
            <ion-text *ngIf="form.get('email').hasError('required')" >
              * Please enter your Email Address
            </ion-text>
            <ion-text 
              *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')">
              * Please enter proper Email Address
            </ion-text>
          </ion-text>
        </div>
       <ion-button 
       mode="ios"
          size="large" 
          expand="block" 
          shape="round" 
          color="sky" 
          (click)="onSubmit()">
          <ion-text > Reset password</ion-text>
        </ion-button>
      </form>
    </ion-item-group>
  
  </ion-list>
  </ion-content>
