<ion-header class="ion-no-border">
  <ion-toolbar >
    
    <ion-icon  color="sky" name="arrow-back-outline"  size="large" slot="start" class="ms-2 ps-2 me-2 pe-1" routerLink="/login"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class=" m-4 p-4 mt-2 pb-0 mb-1 d-flex justify-content-center" > 
    <img src="assets\images\cogearlogo.png" alt="login" height="165px"/>
  </div>
  <ion-card class="m-4 p-3 pt-2 pb-2" mode="ios">
    <ion-card-content>
  <ion-list>  
    <ion-label class="d-flex justify-content-center" style="font-size: 18px;">Forgot Password </ion-label>
    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="form">
        <div class="ion-margin-vertical">
          <ion-item>
           
            <ion-input formControlName="email" color="medium" type="email" placeholder=" Email Address">
              <ion-icon name="mail" slot="start" color="medium" ></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" 
            *ngIf="!form.get('email').valid && form.get('email').touched">
            <ion-text *ngIf="form.get('email').hasError('required')" style="font-size: 12px;" class="ms-2 ps-2 pe-1 me-2 " >
              * Please enter your Email Address
            </ion-text>
            <ion-text 
              *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')" style="font-size: 12px;" class="ms-2 ps-2 pe-1 me-2 ">
              * Please enter proper Email Address
            </ion-text>
          </ion-text>
        </div>
       <ion-button 
       mode="ios"
           
          expand="block" 
           
          color="sky" 
          (click)="onSubmit()">
          <ion-text > Reset password</ion-text>
        </ion-button>
      </form>
    </ion-item-group>
  
  </ion-list>
</ion-card-content>
</ion-card>
  </ion-content>
