/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "bootstrap";
:root {
	--ion-color-purple: #c949da;
	--ion-color-purple-rgb: 201,73,218;
	--ion-color-purple-contrast: #ffffff;
	--ion-color-purple-contrast-rgb: 255,255,255;
	--ion-color-purple-shade: #b140c0;
	--ion-color-purple-tint: #ce5bde;
}

.ion-color-purple {
	--ion-color-base: var(--ion-color-purple);
	--ion-color-base-rgb: var(--ion-color-purple-rgb);
	--ion-color-contrast: var(--ion-color-purple-contrast);
	--ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
	--ion-color-shade: var(--ion-color-purple-shade);
	--ion-color-tint: var(--ion-color-purple-tint);
}
:root {
	--ion-color-light: #FFFFFF;
	--ion-color-light-rgb: 255,255,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;
}

.ion-color-light {
	--ion-color-base: var(--ion-color-light);
	--ion-color-base-rgb: var(--ion-color-light-rgb);
	--ion-color-contrast: var(--ion-color-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-light-shade);
	--ion-color-tint: var(--ion-color-light-tint);
}

:root {
	--ion-color-gold: #FFD700;
	--ion-color-gold-rgb: 255,215,0;
	--ion-color-gold-contrast: #000000;
	--ion-color-gold-contrast-rgb: 0,0,0;
	--ion-color-gold-shade: #e0bd00;
	--ion-color-gold-tint: #ffdb1a;
}
.ion-color-gold {
	--ion-color-base: var(--ion-color-gold);
	--ion-color-base-rgb: var(--ion-color-gold-rgb);
	--ion-color-contrast: var(--ion-color-gold-contrast);
	--ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb);
	--ion-color-shade: var(--ion-color-gold-shade);
	--ion-color-tint: var(--ion-color-gold-tint);
}
:root {
	--ion-color-blue: #007bff;
	--ion-color-blue-rgb: 0,123,255;
	--ion-color-blue-contrast: #ffffff;
	--ion-color-blue-contrast-rgb: 255,255,255;
	--ion-color-blue-shade: #006ce0;
	--ion-color-blue-tint: #1a88ff;
}
.ion-color-blue {
	--ion-color-base: var(--ion-color-blue);
	--ion-color-base-rgb: var(--ion-color-blue-rgb);
	--ion-color-contrast: var(--ion-color-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-shade);
	--ion-color-tint: var(--ion-color-blue-tint);
}


//universal 

ion-content{

    --ion-background-color:#442a41 ;
}
ion-card{
    --ion-background-color:#f5f5f55d!important ;
}
/*.colour{
    background-color: rgb(183, 76, 187)!important;
}*/
ion-item
{
    --background: none;
    opacity:1;
}